# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OSX
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints
.vscode/c_cpp_properties.json
code/SYCL/.vscode/*
code/SYCL/mandelbrot/.svn/*
code/SYCL/DiscreteCosineTransform/.svn/*
code/SYCL/DiscreteCosineTransform/res/**
code/SYCL/DiscreteCosineTransform/msvs/**